<div class="row">
    <div class="col text-center">
        <button class="btn btn-success text-center"
                @onclick="@(async () =>   Confirm())">
            Ok
        </button>
    </div>
</div>
    @code {
        [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }



        void Confirm()
        {
            ModalInstance.CloseAsync(ModalResult.Ok(true));
        }

        void Cancel()
        {
            ModalInstance.CancelAsync();
        }
    }
